<div class="container">
    <div>
        <img src="assets/idea-icon.png" alt="Lamp icon">
        <p>Algum texto legal falando sobre algum assunto!</p>
        <a class="btn-md" href="#">Acessar</a>
    </div>
    <div>
        <img src="assets/idea-icon.png" alt="Lamp icon">
        <p>Algum texto legal falando sobre algum assunto!</p>
        <a class="btn-md" href="#">Acessar</a>
    </div>
    <div>
        <img src="assets/idea-icon.png" alt="Lamp icon">
        <p>Algum texto legal falando sobre algum assunto!</p>
        <a class="btn-md" href="#">Acessar</a>
    </div>
    <div>
        <img src="assets/idea-icon.png" alt="Lamp icon">
        <p>Algum texto legal falando sobre algum assunto!</p>
        <a class="btn-md" href="#">Acessar</a>
    </div>
</div>