<header>
    <h1>< Bem vindo Dev /></h1>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img src="assets/icon-search.png" alt="Icon search">
                    Example of cards using Grid
                </a>
            </li>
            
            <li>
                <a href="/customCheckboxes">
                    <img src="assets/icon-search.png" alt="Icon search">
                    Take a look on custom checkboxes
                </a>
            </li>

            
        </ul>
    </nav>
</header>